

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-1 mt-md-4 pb-5 ">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your username and password!</p>
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="text-center">
                    <div class="form-outline form-white mb-4 ">
                        <input type="text"
                        ngModel
                        name="username"
                        id="username"
                        placeholder="Enter your username"
                        class="form-control mb-4 text-center"
                        >
                        </div>
                      <br>
                      <div class="row d-flex justify-content-center">
                        <div class="form-outline form-white mb-4 ">
                        <input type="password"
                        ngModel
                        name="password"
                        id="password"
                        placeholder="Enter your password"
                        class="form-control mb-3 text-center "
                        >
                        </div>
                      </div>
                        <br>
                       <div class="text-center">
                        <div class="  form-outline form-white mb-4 ">
                        <button type="submit"
                        value="Login"
                        class="btn btn-primary form-control rounded-0 w-50  ">Login</button>
                        </div>
                        </div>
                </form>
  
              </div>
  
              <div>
                <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


